@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  padding: 0;
  box-sizing: border-box;
}

nav a.active {
  background-color: rgb(113 63 18);
  border-radius: 0.25rem;
  color: white;
}

/* Content */
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

/* Homepage */

/* Phone */
@media only screen and (max-width: 600px) {
  .frame {
    border-top-width: 32px;
    border-bottom-width: 32px;
    border-left-width: 0.5rem;
    border-right-width: 0.5rem;
  }
}

/* tablet */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* desktop and laptop */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .frame {
    border-top-width: 4rem;
    border-bottom-width: 4rem;
    border-left-width: 16rem;
    border-right-width: 16rem;
  }
}

/* App */
.spinner {
  margin: auto;
  width: 20px;
  height: 20px;
  align-self: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
