@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  padding: 0;
  box-sizing: border-box;
}

nav a.active {
  background-color: rgb(113 63 18);
  border-radius: 0.25rem;
  color: white;
}

/* Content */
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

/* Homepage */
.frame {
  border-top-width: 32px;
  border-bottom-width: 32px;
}

/* App */
.spinner {
  margin: auto;
  width: 20px;
  height: 20px;
  align-self: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
